{% if  U_ans  ==  quiz.quiz_answer %}
    <h1>정답입니다!!</h1>
{% else %}
    <h1>틀렸습니다.</h1>
{% endif %}

<nav id="digit"> </nav> 후 다음 라운드로 이동합니다.

        <h3>내 점수: {{ player.player_score }}</h3>
        {% if U_ans == 0 %}
            <h3>내가 고른 정답: 시간 초과</h3>
        {% else %}
            <h3>내가 고른 정답: {{ U_ans }}</h3>
        {% endif %}
        <h3>정답: {{ quiz.quiz_answer }}</h3>
        <br> <h3>{{ quiz.quiz_answer_name }}</h3>
        <img src='{{ quiz.image.url }}' height="400" width="400">


<br>


{#타이머 기능#}
<script>
    var i = 110;
    function start() {
        if (i == 110)
        {
            i = 110;
            var digit = document.getElementById("digit");

            var width = 110;
            var id = setInterval(frame,200);
            function frame() {
                if (width <= 0) {
                    clearInterval(id);
                    i=14;
                    digit.innerHTML = width + "초";
                    if ({{ quiz.id }} == 5) {
                        document.getElementById('post-form2').submit();
                    }else{
                        document.getElementById('post-form').submit();
                    }

                } else {
                    digit.innerHTML = width/10-1 + "초";

                    width-=10;


                }
            }
        }
    }
    start()
</script>


{#다음 라운드로 가는 값들#}
<form id="post-form" method="POST" action="{% url 'round' %}">
    {%  csrf_token %}
    <input type="hidden" name="round" value="{{ quiz.id }}">
</form>

{#다음 라운드가 끝일 경우#}
<form id="post-form2" method="POST" action="{% url 'result' %}">
    {%  csrf_token %}
    <input type="hidden" name="round" value="{{ quiz.id }}">
</form>