<h1>아쉽게 틀렸습니다!</h1>
<br>
<br>
<nav id="digit"></nav>후 다음 라운드로 이동합니다.
<br>

        <h3>정답: {{ quiz.quiz_answer }}</h3>
        <br> <h3>{{ quiz.quiz_answer_name }}</h3>
        <img src='{{ quiz.image.url }}' height="400" width="400">


<a href="http://127.0.0.1:8000/play/" class="btn btn-primary">
        이전으로
</a>


{#타이머 기능#}
<script>
    var i = 110;
    function start() {
        if (i == 110)
        {
            i = 110;
            var digit = document.getElementById("digit");

            var width = 110;
            var id = setInterval(frame,1000);
            function frame() {
                if (width <= 0) {
                    clearInterval(id);
                    i=14;
                    digit.innerHTML = width + "초";

                    location.href = 'http://127.0.0.1:8000/play/fail/';

                } else {
                    digit.innerHTML = width/10-1 + "초";

                    width-=10;
                }
            }
        }
    }
    start()
</script>