{% extends 'base.html' %}
{% block content %}
    {#    <form method="get" class="post-form">#}

    {% if user.is_authenticated %}
        {% csrf_token %}
        호스트명 : {{ room.room_host }} <br>
        방제목 : {{ room.room_name }} / 방 초대코드 : {{ room.room_invited_code }} / 라운드 : {{ room.room_play_round }} / 라운드 당 제한시간 : {{ room.room_round_limit_time }}
        <br>
{#        {{ room.room_user }}#}
        {% for room_user in room.room_user.split %}
            이용자 : {{ room_user }} <br>
        {% endfor %}
{#        {% for user in room.room_user %}#}

{#        {% endfor %}#}
    {% endif %}
    {#    </form>#}
{% endblock %}