{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        사용자명 : {{ user.username }}
        {% if room_list %}
            {% for room in room_list %}
                <tr>
                    {{ room.room_name }}
                </tr>
            {% endfor %}
        {% else %}
            <h1 class="text-center my_title">방이 없습니다.</h1><br>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'create_room' %}" style="float:right">방 생성</a>
{#        <a class="btn btn-primary" href="{% url 'join_room' %}" style="float:left">방입장</a>#}
        <a class="btn btn-primary" href="#" style="float:left">방입장</a>
    {% endif %}
{% endblock %}
